.profileContainer {
  display: flex; /* joga os itens para horizontalmente */
  align-items: center; /* alinha os itens ao centro */
}

.profileContainer > img {
  width: 5.5rem; /* altura da imagem */
  height: 5.5rem; /* largura da imagem */
  border-radius: 50%; /* faz a imagem ficar arredondada */
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}
